<div class="<%= "card card-header " if @stock %>results-block">
  <% if @stock %>
    <strong>Symbol: </strong> <%= @stock.ticket %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.last_price %>
    <%= link_to "Add to portifolio", user_stocks_path(user: current_user, ticket: @stock.ticket),
                                                          method: :post, class: "btn btn-success" %>
  <% else %>
    <%= render 'layouts/messages' %>
  <% end %>
</div>
